.header {
  position: fixed;
  right: 0;
  left: 0;
  margin-left: 60px;
  border-left: 1px solid #000;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(218, 218, 218);
  padding: 15px;
}
.search-input {
  background-color: rgb(218, 218, 218);
  font-size: 1.1rem;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
  width: 50%;
}
.search-input::placeholder {
  color: #000;
  padding-left: 10px;
}

.personal-info {
  display: flex;
  align-items: center;
}

.personal-image {
  background-color: rgb(165, 165, 165);
  width: 50px;
  height: 50px;
  margin-left: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
