.filter {
  background-color: #fff;
  border-bottom: 1px solid #000;
  transition: 0.3s ease-in-out;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.filter-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.filter-btn {
  cursor: pointer;
  background: none;
  border: none;
}
.filter-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;
  row-gap: 15px;
  padding: 5px 15px 30px 15px;
}
.filter-input {
  font-size: 1.1rem;
  color: #000;
  border: none;
  border-bottom: 2px solid #000;
}
